/********* SECCIÓN BIENVENIDA **********/

.bienvenida {
    min-height: 450px;

    display: flex;
    justify-content: center;
    align-items: center;

    gap: 40px;

    padding: 40px 8%;
}

.bienvenida-texto {
    flex: 1;
    max-width: 600px;
    text-align:left;
}

.bienvenida h1 {
    color: var(--hueso);
    font-size: 2.5rem;
    margin-bottom: 20px;
}

.bienvenida p {
    color: var(--hueso);
    font-size: 1.2rem;
    line-height: 1.6;
    margin-bottom: 30px;
}
/********* IMAGEN BIENVENIDA **********/

.bienvenida-imagen {
    flex: 1;

    display: flex;

    justify-content: center;
    align-items: center;
}

.bienvenida-imagen img {
    width: 100%;
    max-width: 550px;
    height: auto;

    display: block;
}


/********* BOTÓN **********/

.boton {
    display: inline-block;

    background-color: var(--miel);
    color: var(--selva-900);

    padding: 12px 25px;

    border-radius: var(--radio-sm);

    font-weight: bold;
}

.boton:hover {
    background-color: var(--miel-suave);
}


/********* SECCIÓN VETERINARIOS **********/

.veterinarios {

    background-color: var(--hueso);

    padding: 50px 20px;

    text-align: center;
}

.veterinarios h2 {

    color: var(--selva-900);

    font-size: 2rem;

    margin-bottom: 10px;
}

.descripcion-equipo {

    color: var(--acero);

    margin-bottom: 40px;
}


/********* CONTENEDOR DE CARDS **********/

.contenedor-cards {

    display: flex;

    justify-content: center;

    align-items: stretch;

    gap: 25px;

    flex-wrap: wrap; /* Permite que las cards se ajusten a la pantalla y se muevan a la siguiente línea si es necesario */
}


/********* CARD VETERINARIO **********/

.card-veterinario {

    background-color: white;

    width: 280px;

    padding: 25px;

    border-radius: var(--radio);

    box-shadow: var(--sombra);

    color: var(--tinta);
}


.card-veterinario img {

    width: 120px;

    height: 120px;

    border-radius: 50%;

    object-fit: cover;

    margin-bottom: 15px;
}


.card-veterinario h3 {

    color: var(--selva);

    margin-bottom: 20px;
}


.card-veterinario p {

    line-height: 1.5;

    color: var(--acero);
}


.card-veterinario strong {

    color: var(--selva-900);
}

/********* MEDIA QUERIES **********/
@media (max-width: 768px) {

    .bienvenida {
        flex-direction: column;
        text-align: center;
    }

    .bienvenida-texto {
        text-align: center;
    }

    .bienvenida-imagen img {
        max-width: 400px;
    }

}